<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785217999921-kje179ptrrg61vf5e39p53por9hmfb6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785217999921-kje179ptrrg61vf5e39p53por9hmfb6p</string>
	<key>API_KEY</key>
	<string>AIzaSyDDBy7ncDrio425FSyWnfl6cSffv3qo-ww</string>
	<key>GCM_SENDER_ID</key>
	<string>785217999921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nisos.qrcodereader</string>
	<key>PROJECT_ID</key>
	<string>nisosuk</string>
	<key>STORAGE_BUCKET</key>
	<string>nisosuk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785217999921:ios:d43465e33ef5a93072b110</string>
	<key>DATABASE_URL</key>
	<string>https://nisosuk.firebaseio.com</string>
</dict>
</plist>